<section class="intro">
  <div class='intro-container'>

    <img class='introImage' src='images/introImage-light.png'>

    <div class="intro-content">

      <div class="intro-welcome">
        <h1 class='name'>Financial Thursday</h1>
      </div>

      <div class="intro-sub">
        <p>I'm a Financial & Technology lover, Data analyst, and a software engineer. Insurance things in the market are my jam.</p>
		<p>I'll be nalysing financial markets(Insurance, bonds, stocks,Forex) Every Thursday.</p>
      </div>

      <div class="intro-more">
        <p>#The inivisable hand ~ I'm  <a href='https://uoeactuaries.000webhostapp.com'>Rodgers Ndocha</a></p>
        <div class="intro-buttons">
          {{ partial "social-icons.html" .}}
        </div>
      </div>

      <div class='intro-social'>

      </div>

    </div>

  </div>
</section>
